manifest {
    mainScript = 'main.nf'
    name = 'bucket_uploader'
}

// default parameters
params {
    help = false
    profile = false

    // inputs
    files = ''
}

profiles {
    ukj_cloud { 
        workDir = "/tmp/nextflow-bucket_upload-$USER"
        bucketDir = 'gs://backup-case-mara/'
        process{ executor = 'google-lifesciences' }
        docker { enabled = true }
        google {  
            project = 'case-dev-302214'
            zone = 'europe-west1-b,europe-west1-c,europe-west3-b,europe-west3-a,europe-west4-b,europe-west4-a'
            lifeSciences.preemptible = false
            lifeSciences.bootDiskSize = 20.GB
            }
    }
}
