manifest {
    mainScript = 'main.nf'
    name = 'bucket_uploader'
}

// default parameters
params {
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    help = false
    max_cores = Runtime.runtime.availableProcessors()
    memory = '12'
    profile = false

    // input format
    file = ''
    dir = ''

    //bucket
    mike = false         
    ricc = false  
    mateusz = false    
    mara = false

    //output
    output = ''
}

profiles {
    local {
        workDir = "work/nextflow-bucket_uploader-$USER"
        includeConfig 'configs/local.config'
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }

        process { errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'terminate' } }
    }


    docker {
        docker { 
            enabled = true
            fixOwnership = true
        }
        includeConfig 'configs/container.config'
    }

    ukj_cloud { 
        workDir = "/tmp/nextflow-bucket_uploader-$USER"
        docker { enabled = true }
        process.executor = 'google-lifesciences'
        bucketDir = 'gs://case-tmp-dir/bucket_uploader/'
        google {  
            project = 'case-dev-302214'
            zone = 'europe-west1-b,europe-west1-c,europe-west2-b,europe-west2-a'
            lifeSciences.preemptible = false
            lifeSciences.bootDiskSize = 20.GB
            }
        includeConfig 'configs/container.config'
        includeConfig 'configs/nodes.config'
}
}